version: '3'

services:
    #PHP Service
    shortener:
        build:
            context: ""
            dockerfile: Dockerfile
        container_name: shortener
        tty: true
        environment:
            SERVICE_NAME: shortener
            SERVICE_TAGS: dev
        working_dir: /var/www
        volumes:
            - .:/var/www
        networks:
            - YorCreative

networks:
    YorCreative:
        driver: bridge
